div {
    width: 250px;
    height: 250px;
    margin: 25px;
}

.border-1 {
    background-color: red;
    border-width: 3px;
    border-style: dashed;
    border-color: black;
}

.border-2 {
    background-color: blue;
    border: 3px solid green;
}

.border-3 {
    background-color: blueviolet;
    border-left: 5px solid black;
    border-top: 5px solid black;
    border-radius: 10px;
}

.circle {
    background-color: orangered;
    border: 5px double black;
    border-radius: 50%;
}